body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f2ff; /* Hafif mavi tonu */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #007bff;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.apology-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apology-button:hover {
  background-color: #0056b3;
}

#thankYouMessage {
  font-size: 28px;
  color: #f44336;
}
